# Ignore executable files
go-cli
*.exe
*.bin

# Ignore JSON, text, and BSON data files
*.json
*.txt
*.bson

# Ignore dumps and logs
*.dump
*.log
*.lst
*.imp

# Ignore editor temporary files
*~
*.swp

